---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { references } from "../../utils";
import { VideoUploadForm } from "../../components/form";

export const getStaticPaths = (() => {
  return references.map((_, idx) => ({
    params: {
      id: idx,
    },
  }));
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const reference = references[id];
const apiUrlForForm = `http://localhost:5000/${id}`;
---

<Layout title={`Upload Video for ID: ${id}`}>
  <div class="container mx-auto p-4">
    <p class="text-lg text-center">Reference video: {reference.description}</p>
    <VideoUploadForm client:load apiUrl={apiUrlForForm} reference={reference} />
  </div>
</Layout>
